.Main{
  background-image: url(../src/Components/img/Main_background.webp);
    height: 100vh;
    
  background-Position: 'center';
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}